# Ignore compiled object files, libraries, and executables
*.o
*.a
*.exe

# Ignore system-specific files
.DS_Store
Thumbs.db

# Ignore logs and temporary files
*.log
*.tmp

# Ignore build directories
/build/
/dist/
/node_modules/
/.venv/
/.vscode/
/nanodl.egg-info/
__pycache__/

# Ignore configuration files with sensitive information
config.ini
secrets.yaml

# Ignore user-specific files
/userdata/
/user-settings.json

# ignore specific files
/archive/